<div class="content-centrilize">
  <h3>Cadastro de Evento</h3>
  <p>Faça o cadastro de um evento preenchendo os campos abaixo</p>
  <hr>
  <form [formGroup]="registerForm" [ngModel] >
    <div class="row">
  
      <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
        <img class="banner" [src]="foto" alt="Imagem do evento">
        <input type="file" id="customFile" (change)="onChange($event)" style="display: none;">
        <label for="customFile" class="upload">Escolha a imagem</label>
      </div>

      <div class="col-xm-12 col-sm-12 col-md-9 col-lg-9">

        <div class="form-group">
          <label for="tema">Tema</label>
          <input type="text" class="form-control"
            [ngClass]="{'is-invalid': registerForm.get('tema').errors && registerForm.get('tema').touched}"
            formControlName="tema" [ngModel]="tema">
          <span *ngIf="registerForm.get('tema').hasError('required') && registerForm.get('tema').touched" class="invalid-feedback">campo obrigatório</span>
        </div>

        <div class="form-group">
          <label for="local">Local</label>
          <input type="text"
            name="local"
            [ngClass]="{'is-invalid': registerForm.get('local').errors && registerForm.get('local').touched}"
            class="form-control"
            formControlName="local">
            <span class="invalid-feedback"
              *ngIf="registerForm.get('local').hasError('required') && registerForm.get('local').touched">campo obrigatório</span>
        </div>
  

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label for="dataEvento">Data do Evento</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('dataEvento').errors && registerForm.get('dataEvento').touched}"
                formControlName="dataEvento"
                bsDatepicker>
                <span *ngIf="registerForm.get('dataEvento').hasError('required') && registerForm.get('dataEvento').touched" class="invalid-feedback">campo obrigatório</span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <label for="qtdPublico">Publico Máximo</label>
              <input type="number" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('qtdPublico').errors && registerForm.get('qtdPublico').touched}"
                formControlName="qtdPublico">
                <span *ngIf="registerForm.get('qtdPublico').hasError('required') && registerForm.get('qtdPublico').touched" class="invalid-feedback">campo obrigatório</span>
                <span *ngIf="registerForm.get('qtdPublico').hasError('min') && registerForm.get('qtdPublico').touched" class="invalid-feedback">valor mínimo é 10</span>
                <span *ngIf="registerForm.get('qtdPublico').hasError('max') && registerForm.get('qtdPublico').touched">valor máximo é 100</span>
            </div>            
          </div>
        </div>
  
        <div class="form-group">
          <label for="telefone">Telefone</label>
          <input type="text" class="form-control" formControlName="telefone"
            [ngClass]="{'is-invalid': registerForm.get('telefone').errors && registerForm.get('telefone').touched}"
            formControlName="telefone">
            <span *ngIf="registerForm.get('telefone').hasError('required') && registerForm.get('telefone').touched"
              class="invalid-feedback">campo obrigatório</span>
        </div>
  
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control is-invalid"
            [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
            formControlName="email">
            <span *ngIf="registerForm.get('email').hasError('required') &&  registerForm.get('email').touched" class="invalid-feedback">campo obrigatório</span>
            <span *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched" class="invalid-feedback">E-mail invalido</span>
        </div>

        <div class="form-group">
          <label for="conteudo">Conteudo Programatico</label>
          <textarea 
            name="conteudo" 
            class="form-control conteudo-programatico" cols="30" rows="10" 
            placeholder="Separar tópicos usando o caractere #, por exemplo: 1 - Trabalhando com Componentes # 2 - Fazendo Requisições no Angular # 3 - Criando uma Aplicação Completa"
            formControlName="conteudo"></textarea>
            <span *ngIf="registerForm.get('conteudo').hasError('required') &&  registerForm.get('conteudo').touched" class="invalid-feedback">campo obrigatório</span>
        </div>

        <div class="form-group text-right" style="padding-right: 0;">
          <button class="btn btn-link text-danger">Adicionar Palestrante</button>
        </div>
        <hr>

        <div class="palestrantes-container">
          
          <div class="card">
            <img class="card-img-top" src="../../../assets/images/eu.png" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">João Santos</h6>
              <p class="card-text">Desenvolvedor Fullstack</p>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="../../../assets/images/indisponivel.jpg" alt="Card image">
            <div class="card-body">
              <h6 class="card-title">João Santos</h6>
              <p class="card-text">Desenvolvedor Fullstack</p>
            </div>
          </div>

        </div>        

      </div>
    </div>
    
    <div style="margin-top: 60px">
      <button class="btn btn-dark col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2" (click)="cancel()">Voltar</button>
      <button class="btn btn-success float-right col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2"
        [disabled]="!registerForm.valid"
        (click)="salvar()">Salvar</button>
    </div>
  </form>
</div>