
      <h3>Alteração de Evento</h3>
      <p>Faça o cadastro de um evento preenchendo os campos abaixo</p>
      <hr>

      <div class="row">
        <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
          <div class="card">
            <img class="card-img-top" [src]="foto" alt="Imagem do evento" width="365.5" height="365.5">
            <div class="card-context" style="margin-top: 10px;">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile" (change)="onChange($event)">
                  <label class="custom-file-label" for="customFile">Escolar o arquivo</label>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xm-12 col-sm-12 col-md-9 col-lg-9">
          <div class="form-group">
            <label for="local">Local</label>
            <input type="text" placeholder="Ex.: Avenida Celso Garcia" class="form-control" [(ngModel)]="evento.local" name="local">
          </div>

          <div class="form-group">
            <label for="dataVento">Data do Evento</label>
            <input type="text" placeholder="dd/mm/aaaa" class="form-control" name="dataEvento" [(ngModel)]="evento.dataEvento" name="dataEvento" >
          </div>

          <div class="form-group">
            <label for="tema">Tema</label>
            <input type="text" placeholder="Fullstack para Desenvolvedores Java" class="form-control" [(ngModel)]="evento.tema" name="tema" >
          </div>

          <div class="form-group">
            <label for="qtdPublico">Publico Máximo</label>
            <input type="number" [(ngModel)]="evento.qtdPublico" class="form-control" name="qtdPublico" >
          </div>

          <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="number" name="telefone" class="form-control" [(ngModel)]="evento.telefone" name="telefone" >
          </div>

          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" name="email" class="form-control" [(ngModel)]="evento.email" name="email" >
          </div>
        </div>
      </div>

      <hr>

      <button class="btn btn-dark col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2" (click)="cancel()">Voltar</button>
      <button class="btn btn-success float-right col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2"
        (click)="salvar()">Salvar</button>
