
      <h3>Alteração de Evento</h3>
      <p>Faça o cadastro de um evento preenchendo os campos abaixo</p>
      <hr>

      <div class="row">
        <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
          <div class="card">
            <img class="card-img-top" src="../../../assets/images/angular.png" alt="">
            <div class="card-context">
                <input type="text" [(ngModel)]="evento.imageUrl" name="imageUrl" style="width: 100%;">
                <input type="file" />
            </div>
          </div>
        </div>
        <div class="col-xm-12 col-sm-12 col-md-9 col-lg-9">
          <div class="form-group">
            <label for="local">Local</label>
            <input type="text" placeholder="Ex.: Avenida Celso Garcia" class="form-control" [(ngModel)]="evento.local" name="local">
          </div>

          <div class="form-group">
            <label for="dataVento">Data do Evento</label>
            <input type="text" placeholder="dd/mm/aaaa" class="form-control" name="dataEvento" [(ngModel)]="evento.dataEvento" name="dataEvento" >
          </div>

          <div class="form-group">
            <label for="tema">Tema</label>
            <input type="text" placeholder="Fullstack para Desenvolvedores Java" class="form-control" [(ngModel)]="evento.tema" name="tema" >
          </div>

          <div class="form-group">
            <label for="qtdPublico">Publico Máximo</label>
            <input type="number" [(ngModel)]="evento.qtdPublico" class="form-control" name="qtdPublico" >
          </div>

          <div class="form-group">
            <label for="telefone"><b>Telefone</b></label>
            <input type="number" name="telefone" class="form-control" [(ngModel)]="evento.telefone" name="telefone" >
          </div>

          <div class="form-group">
            <label for="email"><b>E-mail</b></label>
            <input type="email" name="email" class="form-control" [(ngModel)]="evento.email" name="email" >
          </div>
        </div>
      </div>

      <hr>

      <a routerLink="/eventos" class="btn btn-dark col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">Voltar</a>
      <button class="btn btn-success float-right col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2" (click)="salvar()">Salvar</button>
