<div class="container-fluid">
  <h3>Lista de Eventos</h3>
  <p>Abaixo estão todos os eventos cadastrados no sistema</p>
  <input type="text" class="search" placeholder="pesquisar">
  <div class="btn-novo">
    <a routerLink="/evento-create" class="btn btn-info"><span class="fas fa-plus-circle"></span> Novo</a>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3" *ngFor="let e of eventos">
      <div class="card">
        <img src="{{e.imageUrl}}" class="card-img-top" width="365.5" height="330" />
        <div class="card-body">
          <h5 class="card-title" style="height: 40px; font-size: 16px; font-weight: bold; color: #333;">{{e.tema}}</h5>
          <div class="card-context">
            Local: {{e.local}} <br>
            Data: {{e.dataEvento}} <br>
            Fone: {{e.telefone}} <br>
            E-mail: {{e.email}} <br> <br>
            <div class="btn-group">
              <a [routerLink]="['/evento-edit', e.id]" class="btn btn-warning" href="#"><i class="fa fa-edit"></i></a>
              <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
              <a href="#" class="btn btn-info"><i class="fa fa-eye"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
