.search {
  display: inline-block;
  background: #C4C4C4;
  padding: 5px;
  border: thin solid #ccc;
  box-shadow: #333;
  border-radius: 13px;
}

.search > img {
  margin: 0;
  padding: 0;
}

.search > input {
  border: none;
  margin: 0;
  font-size: 12px;
  padding: 10px;
  width: 250px;
  list-style: none;
  outline: unset;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.search > input::placeholder {
  color: #fff;
}

.search > a {
  border: none;
  margin: none;
  background: #C4C4C4;
  font-size: 12px;
  padding: 8px;
}

.search > a:hover {
  cursor: pointer;
}

.card-context {
  font-size: 14px;
}

.btn-info {
  background: #40BEAE;
  color: #fff;
}

.card {
  margin: 10px 0;
}
.btn-group {
  display: flex;
  align-content: center;
  gap: 5px
}

.card:hover {
  border-color: #40BEAE;
}

.card {
  border-color: #f1f1f1;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.confirm-delete {
  display: flex;
  justify-content: flex-end;
  gap: 5px
}

.modal-header {
  background: #343a40;
  color: #fff;
}

.modal-content {
  border-radius: 0;
}

