.search {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: thin solid #ccc;
}

.card-context {
  font-size: 14px;
}

.btn-novo {
  text-align: right;
}

.card {
  margin: 10px 0;
}
.btn-group {
  display: flex;
  align-content: center;
  gap: 5px
}

.card:hover {
  border-color: #0078D4;
}

.card {
  border-color: #f1f1f1;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}
