<h3>Cadastro de Evento</h3>
<p>Faça o cadastro de um evento preenchendo os campos abaixo</p>
<hr>
<form #eventoForm="ngForm">
  <div class="row">
    <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3">
      <div class="card">
        <div class="card-context" style="margin-top: 10px;">
          <img class="card-img-top" [src]="foto" alt="Imagem do evento" width="365.5" height="365.5">
        </div>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" (change)="onChange($event)">
        <label class="custom-file-label" for="customFile">Escolha o arquivo</label>
      </div>
    </div>
    <div class="col-xm-12 col-sm-12 col-md-9 col-lg-9">
      <div class="form-group">
        <label for="local">Local</label>
        <input type="text" class="form-control" [(ngModel)]="evento.local" name="local" [ngClass]="{'is-invalid':eventoLocal.invalid}" #eventoLocal="ngModel" required>
        <span class="invalid-feedback">Campo obrigatório</span>
      </div>

      <div class="form-group">
        <label for="dataVento">Data do Evento</label>
        <input type="text" placeholder="dd/mm/aaaa" class="form-control" name="dataEvento" [(ngModel)]="evento.dataEvento" value="{{evento.dataEvento | date: 'yyyy-MM-dd'}}" >
      </div>

      <div class="form-group">
        <label for="tema">Tema</label>
        <input type="text" class="form-control" [(ngModel)]="evento.tema" name="tema" [ngClass]="{'is-invalid': eventoTema.invalid}" #eventoTema="ngModel" required >
        <span class="invalid-feedback">campo obrigatório</span>
      </div>

      <div class="form-group">
        <label for="qtdPublico">Publico Máximo</label>
        <input type="number" [(ngModel)]="evento.qtdPublico" class="form-control" name="qtdPublico" [ngClass]="{'is-invalid': eventoPublico.value <= 0 }" #eventoPublico="ngModel" required>
        <span *ngIf="eventoPublico.value == 0" class="invalid-feedback">Valor invalido</span>
      </div>

      <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="number" name="telefone" class="form-control" [(ngModel)]="evento.telefone" name="telefone" [ngClass]="{'is-invalid': eventoTelefone.invalid}" #eventoTelefone="ngModel" required>
        <span class="invalid-feedback">campo obrigatório</span>
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" name="email" class="form-control" [(ngModel)]="evento.email" name="email" [ngClass]="{'is-invalid': eventoEmail.invalid}" #eventoEmail="ngModel" required>
        <span class="invalid-feedback">campo obrigatório</span>
      </div>
    </div>
  </div>

  <hr>

  <button class="btn btn-dark col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2" (click)="cancel()">Voltar</button>
  <button [disabled]="eventoForm.invalid" class="btn btn-success float-right col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2"
    (click)="criarEvento()">Salvar</button>
</form>
