.content {
  margin-top: 15px;
}

.sidemenu ul {
  width: 100%;
}

.sidemenu nav{
  padding-top: 15px;
  padding: 0;
  margin: 0;
}

.sidemenu {
  margin: 0;
  padding: 0;
  background: #40BEAE;
  height: 2000px;
}

.sidemenu a {
  color: white;
  font-size: 1.3em;
  padding: 7px 15px;
}

.sidemenu a:hover {
  background: #fff;
  color: #444;
}
