/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

body {
  background: #f1f1f1;
}

.form-control {
  border-radius: 0;
  font-size: 14px;
}

.btn {
  border-radius: 0;
  margin-top: 3px;
}

.content-centrilize {
  margin: 0 100px;
}

.header-page {
  display: flex;
  flex-flow: row;
}